*{
    padding: 0;
    margin: 0;
}

body{
    background-color: blueviolet;
    text-align: center;
    height: 100vh;
    place-items: center;
 }

.heading{
    font-size: 2rem;
    font-family: cursive;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.box{
    display: inline-block;
    border: solid 4px black;
    padding: 15px;
    font-family: 'poppins', sans-serif;
    background-color:blanchedalmond;
    box-shadow: rgb(209, 44, 44);
    
}

input[type="text"]{
    border-color: blueviolet;
    border-width: 4px;
    border-radius: 10px;
    width: 375px;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    direction: rtl;
}

input[type="button"]{
    background-color: blueviolet;
    width: 90px;
    height: 50px;
    margin: 2px;
    border-radius: 6px;
    color: white;
    font-size: 25px;
}

.buttons :hover{
    background-color:cornflowerblue;
}

